body {
    font-family: sans-serif;
    background-color: rgb(42, 60, 226);
}

header {
    display: flex;
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: rgb(42, 60, 226);
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    display: flex;
    border-top: 5px solid rgb(0, 255, 64);
    border-bottom: 5px solid rgb(0, 255, 64);
    padding: 25px 75px 25px 75px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: rgb(12, 12, 12);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top:50px ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: rgb(255, 255, 255);
    padding:20px ;
    width: 400px;
    margin: 30px;
}

.article-but {
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    padding: ;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
